/*====================== Google Fonts =====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Press+Start+2P&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&display=swap');


/*==================== VARIABLES =======================*/

:root {
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --primario-color: #ff4f1a;
    --secundario-color: #efddcd;
    --terciario-color: #ffffff;
    --cuarto-color: #5300CB;
    --morado-color: #6D28D9;
    --negro-color: #000;
    --blanco-color: #fff;
    --azul-color: #03318c;
    --fondo-boton-limpiar: transparent;
}

/*==================== BASE ====================*/

body {
    margin: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    font-family: var(--body-font);
}

/*==================== HEADER ====================*/

.nav {
    display: flex;
    justify-content: center;
    background-color: var(--cuarto-color);
}

.nav img {
    height: 50px;
}

/*==================== HOME ====================*/

.contenedor__titulo img{
    width: 374px;
    height: auto;
}

.main {
    background-color: var(--terciario-color);
}

.home {
    padding: 100px 80px 100px 80px;
}

.contenedor__home {
    display: flex;
    justify-content: center;
    gap: 180px;
}

.contenedor__productos__titulo h2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "Press Start 2P";
}

/*==================== Productos ====================*/

.contenedor__productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px;
    max-width: 678px;
    /* max-height: 971px; */
    max-height: 860px;
    overflow-y: auto;
    padding: 10px;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.5);
}

.producto {
    background-color: var(--morado-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 176px;
    height: 174px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.producto h3 {
    color: var(--blanco-color);
    font-size: 15px;
    margin: 5px 0;
    font-family: "IBM Plex Mono";
}

.producto__descripcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.producto p {
    margin: 0;
    color: var(--blanco-color);
    font-weight: bold;
    font-size: 16px;
}

.boton.eliminar {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.boton.eliminar img {
    width: 24px;
    height: 24px;
}

/*==================== Agregar Producto ====================*/

.contenedor__agregar__productos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar todos los elementos horizontalmente */
    width: 400px;
}

.contenedor__agregar__productos__titulo {
    font-family: "Press Start 2P";
    font-size: 24px;
    text-align: center; /* Centrar el texto del título */
    margin-bottom: 20px;
}

.contenedor__agregar__productos__titulo p {
    margin: 0; /* Eliminar márgenes entre las líneas */
}

.contenedor__agregar__productos__titulo p:first-child {
    margin-bottom: 5px; /* Espacio entre "AGREGAR" y "PRODUCTO:" */
}

.contenedor__agregar__productos input {
    width: 392px;
    height: 40px;
    padding: 5px 5px 5px 15px;
    margin-bottom: 20px;
    border: 3px solid var(--azul-color);
    border-radius: 40px;
    font-size: 14px;
    font-family: "IBM Plex Mono", monospace;
}

.contenedor__agregar__productos input::placeholder {
    color: var(--azul-color);
    opacity: 0.7;
}

/*==================== Botones ====================*/

.contenedor__botones{
    display: flex;
    gap: 30px;
}

.contenedor__agregar__productos button {
    padding: 15px 60px;
    font-size: 18px;
    font-family: "IBM Plex Mono", monospace;
    border-radius: 20px;
    border: 3px solid var(--azul-color);
    cursor: pointer;
}

.boton.enviar {
    background-color: var(--azul-color);
    color: var(--blanco-color);
    border: none;
    /* margin-right: 10px; */
}

.boton.limpiar {
    background-color: var(--fondo-boton-limpiar);
    color: var(--azul-color);
}


/*==================== FOOTER ====================*/

.footer {
    background-color: var(--cuarto-color);
    padding: 50px 40px 40px 40px;
    text-align: center;
    color: var(--blanco-color);
}

.contenedor__pie img{
    width: 378px;
    height: auto;
}

.contenedor__pie h4 {
    font-family: "IBM Plex Mono";
    margin: 0;
}

.contenedor__pie h5 {
    font-family: "IBM Plex Mono";
}


/* ============== RESPONSIVE PARA PANTALLAS TABLETS ================*/

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0;
        display: block;
        min-height: auto;
        grid-template-rows: none;
    }

    .contenedor__home {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 100px;
    }

    .contenedor__agregar__productos {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrar todos los elementos horizontalmente */
        width: 400px;
        gap: 10px;
    }

    .contenedor__productos {
        display: grid;
        grid-auto-flow: column; /* Para hacer que el grid se disponga en una fila */
        grid-template-columns: repeat(3, 1fr); /* Define el número de columnas visibles */
        gap: 20px;
        max-width: 630px;
        overflow-x: auto; /* Activa el scroll horizontal */
        overflow-y: hidden; /* Oculta el scroll vertical */
        padding: 10px;
        box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.5);
        white-space: nowrap; /* Evita el salto de línea */
        margin-top: 30px;
    }

}

/* ============== PARA PANTALLAS DE MOVILES ===================== */

@media (max-width: 568px) {
    body {
        margin: 0;
        display: block;
        min-height: auto;
        grid-template-rows: none;
    }

    .home {
        padding: 20px 5px 20px 5px;
    }

    .contenedor__titulo img{
        width: 300px;
        height: auto;
    }

    .contenedor__home {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    /*==================== Agregar Producto ====================*/

    .contenedor__agregar__productos {
        width: 80%; /* Ajusta el ancho al 90% de la pantalla */
        padding: 20px 0px 0px 0px;
    }

    .contenedor__agregar__productos__titulo {
        font-size: 24px; /* Reduce el tamaño de la fuente */
        margin-bottom: 15px;
        padding-bottom: 20px;
    }

    .contenedor__agregar__productos input {
        width: 95%; /* Ocupa todo el ancho disponible */
        padding: 8px 8px; /* Ajusta el padding */
        font-size: 12px; /* Reduce el tamaño de la fuente */
    }

    .contenedor__botones {
        flex-direction: column; /* Muestra los botones en una columna */
        gap: 10px; /* Reduce el espacio entre botones */
    }

    .contenedor__agregar__productos button {
        padding: 10px 20px; /* Reduce el padding de los botones */
        font-size: 16px; /* Reduce el tamaño de la fuente de los botones */
    }

    /* CONTENEDOR DE PRODUCTOS */

    .contenedor__mis__productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor__productos {
        display: grid;
        grid-auto-flow: column; /* Para hacer que el grid se disponga en una fila */
        grid-template-columns: repeat(2, 1fr); /* Define el número de columnas visibles */
        gap: 5px;
        max-width: 400px;
        overflow-x: auto; /* Activa el scroll horizontal */
        overflow-y: hidden; /* Oculta el scroll vertical */
        padding: 10px;
        box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.5);
        white-space: nowrap; /* Evita el salto de línea */
        margin-top: 30px;
        margin-bottom: 30px;
    }
}